<% include partials/header %>

<div class='jumbotron'>
  <h1> Okayplayer Albums</h1>
</div>
    
    <h2> <%= albumDisplay.title %> </h2>
    <h2> <%= albumDisplay.artist.name %> </h2>
    <h2> <%= albumDisplay.year %> </h2>








<% include partials/footer %>
